#topbardioamoreimage{
background:url(../img/agsquare.png);

			:first-child
			{
			display:inline-block;
			margin:.4rem;
			margin-left:5.75rem;
			vertical-align:bottom;
			width:245px;
			height:132px;
            cursor:pointer;
			}
			img[src="img/quote.png"]
			{
			width: 50rem;
			position: absolute;
			left: 24rem;
			top: 3.5rem;
			opacity: 0.7;
			}
}
#headercontainer{width:100%}
$backgroundpattern:url(../img/wild_flowers.png);

$DioColor: #5E0808;
$DioGradient:linear-gradient(red,darkred);
$TransitionTime: 0.333s;

.custbar
	{
	transition:all $TransitionTime;
	display:inline;
	
	
	li
	{
	@extend .custbar;
	padding-right:1rem;padding-left:1rem;
	}
	
	
	li:hover
	{
	padding-right:2rem;padding-left:2rem;
	a{color:black;text-shadow:none;}
	}
	
	ul
	{
	background:linear-gradient(red,darkred);
	text-align:center;
	margin:0;
	height:50px;
	line-height:3.1rem;
	box-shadow: 0px 3px 5px rgb(19,19,19);
	z-index:10;
	}
	
	a
	{
	@extend .custbar;
	color: rgb(90, 1, 1);
font-size: 2rem;
text-shadow: 0px 0px 13px rgb(255, 79, 79);
	}
	
	}
$Chocolate:#300A0A;
$RedBorder:darkred;
	
	
h1{text-align:center;color:white;}
h2{@extend h1;}
h3{@extend h1;}
	



iframe{width:100%; .mv-event-container{background:black;}}
.nonmapcontent{background:url("../img/norwegian_rose.png");margin:0;}
		

.custom-alert-box {
  margin-top:0;
  @include alert($bg:$Chocolate);
  .close {@include alert-close();}
  text-align:center;
  color: #FFFFFF;
text-align: center;
border: none;
font-size:3.5rem;

}
ul.off-canvas-list li a{font-size:1.5rem;}
#flt {background-color:darkred;width:100%;height:auto;border-bottom:2px solid darken(darkred,15%); h3{margin:0;} }


		
@media #{$small-up} {#flt{display:block;} }
@media #{$small-only} {#homepage{ul{margin:0;li{font-size:1.4rem;padding:0;}}}.resptable{font-family:arial;tr{th{font-size:10px;}td{font-size:10px;}}}ul{li{p{font-size:1rem;}}}#dfltcal{display:none;}.custbar{display:none;} #headercontainer{display:none;} .custom-alert-box{font-size:1.5rem;}#mhd{display:none;}.tab-bar{margin-bottom:7px;}}

@media #{$medium-up} {ul{li{p{font-size:1.5rem;}}}}
@media #{$medium-only} {.custbar{display:none;} .img2{display:none;}.custom-alert-box{font-size:2rem;}#flt{display:none;}}

@media #{$large-up} {.tab-bar{display:none;} #flt{display:none;}}
@media #{$large-only} { }

@media #{$xlarge-up} { }
@media #{$xlarge-only} { }

@media #{$xxlarge-up} { }
@media #{$xxlarge-only} { }


.royalSlider
{
margin-top:1rem;
width:100%;

}

.rsContent { iframe { height:100%;}}
.rsOverflow{width:100% !important;}

#wlc{color:white;}

#headmodal{
padding:0 !important;
h2{color:white;}
div{background-color:brown;}
ul{list-style:none;margin:0;
    li{color:white;font-size:2rem;padding:0 1rem 0 1rem;}}
    .reveal-model.open{padding:0;}

           }
#homepage{
            background: url(../img/black_lozenge.png);
 text-align:center; padding:0;ul{list-style:none;font-size:1.4rem;}}

table{width:100%;}
p{font-size:1.4rem;}
#mission{width:100%;padding:1rem;}

#classdescpopout{background-color:#efefef;border-bottom:1px solid #efefef;}

#faq dl dd div p, #faq dl dd div h2{color:black;}
.accordion dd a {font-size:1.5rem;}