
/*////////////Support for other devices/////////////*/

/* Smartphones (portrait and landscape) ----------- */
@media only handheld
and (min-device-width : 320px)
and (max-device-width : 480px) 
{
/* Styles for this device category */

#hmain, #hlist, #dioamoreimage, #quoteimg, #ns{display:none;}
#homeh, #sl1btm{font-size:6vw;}


}
 
/* Smartphones (landscape) ----------- */
@media only handheld
and (min-device-width : 321px) 
{
/* Styles for this device category */
#hmain, #hlist, #dioamoreimage, #quoteimg, #ns{display:none;}
#homeh, #sl1btm{font-size:6vw;}
}
 
/* Smartphones (portrait) ----------- */
@media only screen
and (max-width : 320px) 
{
/* Styles for this device category */
#hmain, #dioamoreimage, #quoteimg, #navigation{display:none;}
#homeh, #sl1btm, #ns{text-align:center;margin:0;padding:1%;}
#hlist{border-radius:2px;font-size:4vw;padding:1%;margin-left:auto;margin-right:auto;margin-top:10px;}
#descofd{list-style-position:inside;}
#descofd li{padding:3%;border-bottom:solid 1px rgba(50,50,50,0.8);}
#descofd :last-child
{border-style:none;}
#homeh{font-size:6vw;}
#sl1btm{font-size:7vw;}
#ns{font-size:6vw;}
.instructorbarcontainer{width:90%;display:block;margin-left:auto;margin-right:auto;}
#mbdio{display:block;}
#barangeline > h1, #barkathleen > h1, #barlauren > h1, #barpeter >h1, #bardamian >h1{font-size:1.8em;}
#homediv1{background-color:transparent;}
#mobilenav{display:block;}
}
 
/* iPads (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) 
{
/* Styles for this device category */


}
 
/* iPads (landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) 
{
/* Styles for this device category */


}
 
/* iPads (portrait) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) 
{
/* Styles for this device category */


}
 
/* Desktops and laptops ----------- */
@media only screen
and (min-width : 1000px) 
{
/* Styles for this device category */
.instructorbarcontainer button h1{font-size:3.9em;}

}

}
 
/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) 
{
/* Styles for this device category */


}